html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

.search-form {
  display: flex;
  justify-content: center;

  margin: 20px auto;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 4px;
  margin-right: 10px;
}

.form-btn {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  background-color: darkgray;
  color: #fff;
}

.btn {
  display: none;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  background-color: darkgray;
  color: #fff;
}

.btn.is-active {
  display: flex;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* .gallery-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin: 15px;
} */
.gallery-item {
  height: auto;
  overflow: hidden;
}

.gallery-list img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.stats {
  display: flex;
}

.stats-item {
  margin: 0;
}
